<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="css/style.css" rel="stylesheet" type="text/css"  media="all" />
		<title>DG Blog</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link href='//fonts.googleapis.com/css?family=Carrois+Gothic+SC' rel='stylesheet' type='text/css'>
        <style>
                                    /* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*---start-wrap*/
html,
body{
	height: 100%;
	display: flex;
	flex-direction: column;
}
.content{
	flex-grow: 1;
	
}
.wrap{
	width:1060px;
	margin:0 auto;
}
/*---start-header*/
.header{
	border-bottom: 1px ridge #365ebf;
	background: #264284; /* Old browsers */
	background: -moz-linear-gradient(top,  #264284 0%, #365ebf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#264284), color-stop(100%,#365ebf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #264284 0%,#365ebf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #264284 0%,#365ebf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #264284 0%,#365ebf 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #264284 0%,#365ebf 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#264284', endColorstr='#365ebf',GradientType=0 ); /* IE6-9 */
	padding: 15px 0px 18px 0px;
}
.services-sidebar li img{
	vertical-align:middle;
	padding-right:5px;
}
.header-nav1{
	background:#264284;
	padding:10px 0px;	
	margin-bottom: 20px;
	border-bottom: 1px ridge rgb(214, 216, 230);
	-webkit-box-shadow: 0 8px 6px -6px rgb(214, 216, 230);
	   -moz-box-shadow: 0 8px 6px -6px rgb(214, 216, 230);
	        box-shadow: 0 8px 6px -6px rgb(214, 216, 230);
	        
	       }
.header-nav1 ul li{
	display:inline-block;
	line-height: 1.8em;
}
.header-nav1 ul li a{
	color: rgb(103, 141, 223);
	font-family: 'Carrois Gothic SC', sans-serif;
	font-size: 12px;
	padding: 18px 11px 17px 14px;
	margin-right: -4px;
	
}
.header-nav1 a:hover, .header-nav1 li.current> a, .header-nav1 li.sfHover > a {
	background:#fff;
	color:#666;
	text-decoration: none;
}

.search-bar input[type="text"],.search-bar input[type="submit"]{
	border:none;
	outline: none;
	padding:3px;
	background:none;
	color:#666;
	font-family: 'Carrois Gothic SC', sans-serif;
}
.search-bar{
	background: rgb(223, 228, 238);
	border-radius: 0.3em;
}
.search-bar input[type="submit"]{
	cursor:pointer;
	background: url('../images/search.png') no-repeat 11px 7px;
	padding: 4px 16px;
}
/*----top-nav----*/
.top-nav ul li{
	display:inline-block;
}
.top-nav ul li a{
	color: rgb(103, 141, 223);
	font-family: 'Carrois Gothic SC', sans-serif;
	font-size: 12px;
	padding: 6px 0px;
	margin-right: 15px;
	
}
.top-nav{
	background:#264284;
	padding: 5px 0px;

}
/*---start-logo*/
.logo{
	float:left;
	padding: 22.5px 0px 0px 0px;
}
/*---end-logo*/
/*---start-header-nav*/
.header-nav{
	float:right;
}
.header-nav ul li{
	display:inline-block;
}
.header-nav ul li a{
	color: #fff;
	text-transform: uppercase;
	padding: 32px 15px 32px 15px;
	line-height: 5.6em;
	font-family: 'Carrois Gothic SC', sans-serif;
	-webkit-transition: all .9s;
	-moz-transition: all .9s;
	-o-transition: all .9s;
	-ms-transition: all .9s;
	transition: all .9s;
}
.header-nav ul li a:hover{
	color:#FF8400;
}
 /*footer1*/
 .footer1{
	padding: 20px;
	background: #353534;
	border-top: 1px ridge rgba(22, 48, 148, 0.75);		

}
.footer1 p{
	text-align:center;
}
.footer1 p.link {
	color: #eee;
	font-size:13px;
	font-family: 'Carrois Gothic SC', sans-serif;
}
.footer1 p.link a {
	color: #eee;
	text-decoration: none;
	font-size:13px;
}
.footer1 p.link a:hover {
	color:#fff;
	text-decoration: underline;
}
.about {
	border: 1px ridge;
}
.about h2{
	font-family: 'Carrois Gothic SC', sans-serif;
	font-size: 37px;
	color:#264284;
	text-align: center;
	padding: 10px 0px;
}
.blog-img{
	float:left;
	cursor:pointer;
	background: #fff;
	padding: 10px;
	margin: 0 20px 0px 0px;
	width: 42%;
}
.blog-img:hover{
	opacity: 0.8;
}
.bloger-grid {
	width: 100%;
	float: left;
	padding-bottom: 20px;
	border-bottom: 1px ridge rgb(241, 241, 241);
	padding: 20px 0px 20px 20px;
}
.bloger-content{
	float: left;
	width: 53%;
	margin-left: 2%;
}
.bloger-content h5 a{
	font-family: 'Carrois Gothic SC', sans-serif;
	font-size: 20px;
	color: #264284;
	
}

.bloger-content p{
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height: 2em;
	color: #666;
	padding: 16px 0px;
}
.bloger-content ul li:nth-child(1),.bloger-content ul li:nth-child(2){
	font-size:14px;
	font-family: 'Carrois Gothic SC', sans-serif;
}
.bloger-content ul li a:hover{
	color:#666;
	
}
.bloger-content ul li{
	display:inline-block;
	-webkit-transition: all .9s;
	-moz-transition: all .9s;
	-o-transition: all .9s;
	-ms-transition: all .9s;
	transition: all .9s;
}
.bloger-content ul li:last-child{
	font-family: 'Carrois Gothic SC', sans-serif;
	float:right;
	font-size: 12px;	
	display: inline-block;
	padding: 4px 12px;
	margin-bottom: 0;
	line-height: 20px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	background-color: #f5f5f5;
	background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
	background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
	background-repeat: repeat-x;
	border: 1px solid #cccccc;
	border-color: #e6e6e6 #e6e6e6 #bfbfbf;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	border-bottom-color: #b3b3b3;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	
	
	
}
.bloger-content ul li:last-child:hover{
	color:#fff;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}
.bloger-content ul li:last-child a{
	color:#333;
}
.bloger-content ul li a{
	color:#666;
}
.bloger-content ul li span:hover{
	color:#555;
}
.blog-box1{
	width: 90%;
	padding: 20px;
}
.blog-box1 img{
	cursor: pointer;
	background: #fff;
	padding: 10px;
	box-shadow: 0px 0px 10px rgb(223, 223, 223);
}
.blog-box1 h5 a{
    display: block;
	font-family: 'Carrois Gothic SC', sans-serif;
	font-size: 20px;
	color: #264284;
}
.name-username{
    display: inline-block;
    margin: 0 0 0 45%;
}
.name-username-big{
	display: inline-block;
    margin: 0 0 0 35%;
}
.name-username-biggest{
	display: inline-block;
    margin: 0 0 0 15%;
}
.blog-box-content {
	margin-top: 20px;
	padding-bottom: 30px;
}
.blog-box1 p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 2em;
	color: #666;
	padding: 16px 0px;
}
.blog-box1 ul li{
	display: inline-block;
	-webkit-transition: all .9s;
	-moz-transition: all .9s;
	-o-transition: all .9s;
	-ms-transition: all .9s;
	transition: all .9s;
}
.blog-box1 ul li a{
	color:#333;	
}
.blog-box1 ul li:nth-child(1),.blog-box1 ul li:nth-child(2){
	font-size: 14px;
	font-family: 'Carrois Gothic SC', sans-serif;
}
.author_post{
	margin: 0px 10px 0px 0px;
}
.author_post:hover{
    transition: 1s;
    text-decoration: underline;
}
.btn-remove{
    font-size: 20px;
    margin: 0px 0px 0px 390px;
}
.author_comment {
    padding: 10px 0px 0px 0px;
    margin: 10px 0px 10px 0px;
    font-size: 25px;
    color: black;
}
.author_comment:hover{
    text-decoration: underline;
    transition: 1s;
}
.date_comment {
    margin: 10px 0px 20px 0px;
    font-size: 20px;
    display: inline-block;
}
.errorTable{
	font-family: Arial, Helvetica, sans-serif;
	display: inline-block;
	color: red;
	background-color: lightpink;
	padding: 15px 60px;
	margin: 0px 0px 10px 0px;
	font-weight: 700;
	border: 1px solid red;
	border-radius: 10px;
}

.btn-change{
  margin-top: 10px;
  margin-bottom: 20px;
	border:1px solid #ddd;
	padding: 7px;
	width: 594px;
	outline:none;
	color:#666;
	font-size:18px;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
}
.btn-change{
		 -moz-border-radius:3px;
		  -webkit-border-radius:3px; 
		  border-radius:3px; 
		  -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.50); 
		  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.50); 
		  box-shadow:0 1px 3px rgba(0, 0, 0, 0.50); 
		  background:#06a401 url(../images/button-overlay.png) repeat-x; 
		  
		  color:#FFFFFF !important; 
		  cursor:pointer; 
		  display:inline-block; 
		  font-size:13px; 
		  font-weight:bold; 
		  line-height:1; 
		  overflow:visible; 
		  padding:10px 25px;
		  position:relative; 
		  text-decoration:none; 
		  text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25); 
		  width:auto; 
		  text-align:center; 
}
.btn-change{
	background: #368426;
	background: -moz-linear-gradient(top, #368426 0%, #36bf3d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#368426), color-stop(100%,#36bf3d));
	background: -webkit-linear-gradient(top, #368426 0%,#36bf3d 100%);
	background: -o-linear-gradient(top, #368426 0%,#36bf3d 100%);
	background: -ms-linear-gradient(top, #368426 0%,#36bf3d 100%);
	background: linear-gradient(to bottom, #368426 0%,#36bf3d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#368426', endColorstr='#36bf3d',GradientType=0 );
	 -webkit-transition: all .9s;
	-moz-transition: all .9s;
	-o-transition: all .9s;
	-ms-transition: all .9s;
	transition: all .9s;
}


.btn-change:hover{
	background: #368426;
	color:#FF8400;
}
.btn-remove{
  margin-top: 10px;
  margin-bottom: 20px;
	border:1px solid #ddd;
	padding: 7px;
	width: 594px;
	outline:none;
	color:#666;
	font-size:18px;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
}
.btn-remove{
		 -moz-border-radius:3px;
		  -webkit-border-radius:3px; 
		  border-radius:3px; 
		  -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.50); 
		  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.50); 
		  box-shadow:0 1px 3px rgba(0, 0, 0, 0.50); 
		  background:#a40101 url(../images/button-overlay.png) repeat-x; 
		  
		  color:#FFFFFF !important; 
		  cursor:pointer; 
		  display:inline-block; 
		  font-size:13px; 
		  font-weight:bold; 
		  line-height:1; 
		  overflow:visible; 
		  padding:10px 25px;
		  position:relative; 
		  text-decoration:none; 
		  text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25); 
		  width:auto; 
		  text-align:center; 
}
.btn-remove{
	background: #842626;
	background: -moz-linear-gradient(top, #842626 0%, #bf3636 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#842626), color-stop(100%,#bf3636));
	background: -webkit-linear-gradient(top, #842626 0%,#bf3636 100%);
	background: -o-linear-gradient(top, #842626 0%,#bf3636 100%);
	background: -ms-linear-gradient(top, #842626 0%,#bf3636 100%);
	background: linear-gradient(to bottom, #842626 0%,#bf3636 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#842626', endColorstr='#bf3636',GradientType=0 );
	 -webkit-transition: all .9s;
	-moz-transition: all .9s;
	-o-transition: all .9s;
	-ms-transition: all .9s;
	transition: all .9s;
}


.btn-remove:hover{
	background: #842626;
	color:#FF8400;
}
.btn-exit{
    margin: 0 0 0 410%;
	border:1px solid #ddd;
	padding: 7px;
	width: 594px;
	outline:none;
	color:#666;
	font-size:18px;
	border-radius: 3px;
	font-family: Arial, Helvetica, sans-serif;
}
.btn-exit{
		 -moz-border-radius:3px;
		  -webkit-border-radius:3px; 
		  border-radius:3px; 
		  -moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.50); 
		  -webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.50); 
		  box-shadow:0 1px 3px rgba(0, 0, 0, 0.50); 
		  background:#0160A4 url(../images/button-overlay.png) repeat-x; 
		  
		  color:#FFFFFF !important; 
		  cursor:pointer; 
		  display:inline-block; 
		  font-size:13px; 
		  font-weight:bold; 
		  line-height:1; 
		  overflow:visible; 
		  padding:10px 25px;
		  position:relative; 
		  text-decoration:none; 
		  text-shadow:0 -1px 1px rgba(0, 0, 0, 0.25); 
		  width:auto; 
		  text-align:center; 
}
.btn-exit{
	background: #264284;
	background: -moz-linear-gradient(top, #264284 0%, #365ebf 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#264284), color-stop(100%,#365ebf));
	background: -webkit-linear-gradient(top, #264284 0%,#365ebf 100%);
	background: -o-linear-gradient(top, #264284 0%,#365ebf 100%);
	background: -ms-linear-gradient(top, #264284 0%,#365ebf 100%);
	background: linear-gradient(to bottom, #264284 0%,#365ebf 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#264284', endColorstr='#365ebf',GradientType=0 );
	 -webkit-transition: all .9s;
	-moz-transition: all .9s;
	-o-transition: all .9s;
	-ms-transition: all .9s;
	transition: all .9s;
}


.btn-exit:hover{
	background: #264284;
	color:#FF8400;
}
form{
    display: inline-block;
}
.btn-remove{
    margin: 0px;
    display: inline-block;
}
.title_post{
    display: inline;
    max-width: 1000px;
    margin: 0px;
}
.container_post{
    margin: 0px 0px 10px 0px;
}
/*---end-header-nav*/
/*------responive-design--------*/
@media screen and (max-width: 1024px) {
	.wrap{
		width:90%;
	}
	.boxgrid {
		width: 30.7%;
		margin: 10px 19.8px 10px 0px;
	}
	.blog-img{
		width:42%;
		padding-top: 7px;
	}
	.blog-img {
		width: 37%;
	}
	.bloger-grid {
		width: 100%;
	}
	.bloder-content{
		width:100%;
	}
	.contact-form{
		float:left;
		width: 49%;
		padding:0px;
	}
	.contact-form form textarea, .contact-form form input[type=text]{
		width:92%;
	}
	.blog-box1 {
		width: 94%;
		padding: 20px;
	}
	.footerlinks {
    width: 36%;
}
.btn-exit{
    margin: 0 0 0 340%;
}
}
@media screen and (max-width: 990px) {
    .btn-exit{
    margin: 0 0 0 290%;
}
}
@media screen and (max-width: 860px) {
    .btn-exit{
    margin: 0 0 0 260%;
}
}
@media screen and (max-width: 800px) {
	.wrap{
		width:90%;
	}
	
	.blog-img {
		width: 70%;
	}
	.bloger-content {
		float: left;
		width: 90%;
		margin-left: 2%;
		padding-top: 16px;
	}
	.blog-box1 {
		width: 87%;
		padding: 20px;
	}
	.bloger-content ul li {
		display: inherit;
	}
	.product-grid, .last1 {
		width: 23.9%;
	}
	.contact-form {
    width: 100%;
    margin-bottom: 1em;
}
	.contact-form form textarea, .contact-form form input[type=text] {
		width: 97%;
	}
	.contact-form form textarea{
		resize:none;
	}
    .btn-exit{
    margin: 0 0 0 260%;
}
}
@media screen and (max-width: 768px){
.footerlinks {
    width: 42%;
}
.btn-exit{
    margin: 0 0 0 210%;
}
}
@media screen and (max-width: 667px){
.footerlinks {
    width: 48%;
}
.btn-exit{
    margin: 0 0 0 145%;
}
}
@media screen and (max-width: 600px){
	.wrap{
		width:90%;
	}
	.bloder-content {
		width: 100%;
	}
	.blog-box1 {
		width: 88.6%;
	}
	.logo {
		float:none;
		text-align:center;
		padding: 34.5px 0px 0px 0px;
	}
	.header-nav {
		float:none;
		text-align:center;
	}
	.header-nav ul li a{
		padding:0px 10px;
	}
	.header-nav ul li {
		display: inline;
	}
	.product-grid, .last1 {
		width: 30%;
	}
	.product-grids h6{
		font-size:22px;
	}
    .btn-exit{
    margin: 0 0 0 110%;
}
}
@media screen and (max-width: 568px){
.header-nav1 ul li a {
    padding: 18px 10px 17px 9px;
}
.btn-exit{
    margin: 0 0 0 80%;
}
}
@media screen and (max-width: 480px){
.header-nav1 ul {
    float: left;
    width: 100%;
	text-align: center;
}
.search-bar {
    float: left;
    width: 47%;
    margin-top: 1em;
    margin: 1em 7em 0;
}
.header-nav1 ul li a {
    padding: 12px 10px 12px 9px;
}
.btn-exit{
    margin: 0 0 0 40%;
}
.name-username-big{
	margin: 0 0 0 20%;
}
}
@media screen and (max-width: 414px){
    .container_error{
    max-width: 300px;
}
.search-bar {
    float: left;
    width: 55%;
    margin: 1em 5em 0;
}
ul.dc_paginationA03 li a {
    padding: 7px 7px 7px 7px;
}
.footerlinks {
    width: 73%;
}
.logo {
    padding: 15px 0px 0px 0px;
}
.btn-exit{
    margin: 0 0 0 40%;
}
.name-username{
    margin: 0 0 0 40%;
}
}
@media screen and (max-width: 384px){
.wrap {
    width: 89%;
}
.search-bar {
    width: 58%;
    margin: 1em 4em 0;
}
.footerlinks {
    width: 80%;
}
.btn-exit{
    margin: 0 0 0 10%;
  
}
}
@media screen and (max-width: 375px){
.wrap {
    width: 88%;
}
.search-bar {
    width: 60%;
    margin: 1em 4em 0;
}
.name-username-big{
	margin: 0 0 0 10%;
}
}
@media screen and (max-width: 320px){
.wrap {
    width: 87%;
}
.header-nav1 ul li a {
    padding: 10px 6px 10px 6px;
}
.search-bar {
    width: 72%;
    margin: 1em 2em 0;
}
.footerlinks {
    width: 100%;
}
.btn-exit{
    margin: 0 0 0 0%;
    font-size: 10px;
}
.btn-change{
    font-size: 10px;
}
.btn-remove{
    font-size: 10px;
}
.name-username{
    margin: 0 0 0 25%;
}
.name-username-big{
	margin: 0 0 0 5%;
}
}
        </style>
	</head>
	<body>
		<!-- Start-wrap -->		
			<!-- Start-Header-->
            <div class="content">		
			<div class="header">
				<div class="wrap">
				<!-- Start-logo-->
				<div style="font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 30px;color: #fff;" class="logo">
					DG Blog
				</div>				
				<!-- End-Logo-->
				<!-- Start-Header-nav-->				
				<div class="clear"> </div>				
				<!-- End-Header-nav-->
			</div>
			</div>
			<div class="header-nav1">
				<div class="wrap">
					<ul>
						<li class="current"><a href="http://localhost:9000">Главная</a></li>
						<li><a href="https://dgblogdg.herokuapp.com/add">Добавить пост</a></li>
						<li><a href="https://dgblogdg.herokuapp.com/profile">Профиль</a></li>
					</ul>
			
				</div>				
			<!-- End-Header-->
			<div class="clear"> </div>
			<!-- content-gallery-->
			</div>
			<div class="wrap">
				<div class="about">
					<div class="bloder-content">
						
					<div class="blog-box1">
						<div class="blog-box-content">
							<h5 <% if (username.length >= 15) {%>class="name-username-biggest"<%} else if (username.length >= 9) {%>class="name-username-big"<%}%> class="name-username"><a href="#"><%= username %></a></h5>
                            <form method="POST" class="from-exit">
                                <input type="hidden" name="exit" value="<%= userId %>">
                                <button type="submit" class="btn-exit">Выйти</button>
                            </form>
							<p>Количество постов: <%= count %></p>
                            <div class="blog-box1">
                                <div class="blog-box-content">
                                    <ul class="container_for_posts">
                                        <% for (var key = postsMass.length-1 in postsMass){%>
                                            <%if (postsMass){%>
                                            <div class="bloder-content">
														<li class="body_post">
															<div class="container_post">
															<h5 class="title_post"><a style="color: #264284;" href="https://dgblogdg.herokuapp.com/post/<%= postsMass[key]['id'] %>"><%= postsMass[key]['title'] %></a></h5>
															<p><%= postsMass[key]['description'] %></p>
															<ul>
																<li><a href="#">Дата публикации: <%= postsMass[key]['date'] %> <% if (postsMass[key]['changed'] === true) {%><span class="changed">(изменено)</span><%}%></a></li>
															</ul>                                                <br>
															<a href="https://dgblogdg.herokuapp.com/change/<%= postsMass[key]['id'] %>"><button type="button" class="btn-change">Редактировать</button></a>
															<form method="POST">
																<input type="hidden" name="deletePost" value="<%= postsMass[key]['id'] %>">
																<button type="submit" class="btn-remove">Удалить</button>
															</form>
															</div>
														</li>
                                            </div>
                                            <%} else {%> <li class="body_post_nothing"><div class="nothing">Пользователь ещё не создавал посты</div> </li><%}%>
                                        <%}; %>
                                    </ul>
                                </div>
                            </div>
						</div>
					</div>					
					<div class="clear"> </div>
				</div>	
			</div>
			</div>
        </div>		
			<div class="footer1">
                <p class="link"><span>© Ещё у нас есть бот в вк:&nbsp; <a target="_blank" href="https://vk.com/bot_dg"> DG Bot</a></span></p>
        </div>
		<!-- End-wrap -->
		
	</body>
</html>